.hero-section {
  background-image: url("https://static.vecteezy.com/system/resources/previews/029/783/763/large_2x/collection-of-makeup-products-and-brushes-glamorous-beauty-essentials-free-photo.jpg"); 
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.featured-products h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.card {
  border: none;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
}


.footer {
  background-color: #212529;
}

.footer p, .footer a {
  color: #fff;
  font-size: 0.9rem;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-brand{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-item{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}